<div class="row">
	
	<div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Post</h4>

                <div class="row">
                    <form action="#" id="post_form" enctype='multipart/form-data'>
                        <div class="col-lg-12">
                            <div class="card card-outline-info">
                                <div class="card-body">
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Title</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"
                                                       [(ngModel)]="data.title" name="title">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Thumbnail</label>
                                            <div class="col-md-9">
                                                <label style="margin-top: 15px;" for="input-file-now">Choise image</label>
                                                <input type="file" id="input-file-now" class="dropify" name="thumbnail"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Description</label>
                                            <div class="col-md-9">
                                                        <textarea class="form-control" rows="3"
                                                                  [(ngModel)]="data.description"
                                                                  name="description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div [froalaEditor]="options"
                                                     [(froalaModel)]="data.content"></div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Category</label>
                                            <div class="col-md-9">
                                                <select class="form-control"
                                                        [(ngModel)]="data.category_id" name="category_id">
                                                    <ng-container *ngFor="let item of all_category">
                                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Tags</label>
                                            <div class="col-md-9">
                                                <ng-container *ngFor="let tag of data.tags">
                                                    <span class="label label-light-danger">{{ tag.name }}</span>
                                                </ng-container>
                                                <div class="clearfix"></div>
                                                <div class="wrap-addtag">
                                                    <input style="width: 32%; margin-right: -30px;" class="form-control" type="text" name="keyword_tag" [ngModel]='data.keyword_tag' (ngModelChange)='changed($event)' />
                                                    <button type="button" class="btn btn-info btn-circle" aria-pressed="false">
                                                        <i class="ti-plus text" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="result-search" [hidden]="!show_box_search_tag">
                                                        <li *ngFor="let item_tag of result_search_tag ">{{ item_tag.name }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Author</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="data.author" name="author">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Keyword SEO</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="data.keyword_seo"
                                                       name="keyword_seo">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Website</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="data.website" name="website">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Link Origin</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="data.base_on" name="base_on">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Created At</label>
                                            <div class="col-md-9">
                                                <span>{{ data.created_at }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Status</label>
                                            <div class="col-md-9">
                                                <div class="switch">
                                                    <label>
                                                        <input type="checkbox"
                                                               (change)="data.status = data.status == 1 ? 0 : 1"
                                                               [checked]="data.status"><span
                                                            class="lever switch-col-purple"></span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button (click)="create()" type="submit"
                                                class="btn btn-success"><i class="fa fa-check"></i> Create
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>