<p>
    testeditor works!
</p>

<h1>Huu Nam</h1>
<div [froalaEditor]>
    <div>
        <div id="highlighter_488055" class="syntaxhighlighter  php">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2">1</div>
                        <div class="line number2 index1 alt1">2</div>
                        <div class="line number3 index2 alt2">3</div>
                        <div class="line number4 index3 alt1">4</div>
                        <div class="line number5 index4 alt2">5</div>
                        <div class="line number6 index5 alt1">6</div>
                        <div class="line number7 index6 alt2">7</div>
                        <div class="line number8 index7 alt1">8</div>
                        <div class="line number9 index8 alt2">9</div>
                        <div class="line number10 index9 alt1">10</div>
                        <div class="line number11 index10 alt2">11</div>
                        <div class="line number12 index11 alt1">12</div>
                        <div class="line number13 index12 alt2">13</div>
                        <div class="line number14 index13 alt1">14</div>
                        <div class="line number15 index14 alt2">15</div>
                        <div class="line number16 index15 alt1">16</div>
                        <div class="line number17 index16 alt2">17</div>
                        <div class="line number18 index17 alt1">18</div>
                        <div class="line number19 index18 alt2">19</div>
                        <div class="line number20 index19 alt1">20</div>
                        <div class="line number21 index20 alt2">21</div>
                        <div class="line number22 index21 alt1">22</div>
                        <div class="line number23 index22 alt2">23</div>
                        <div class="line number24 index23 alt1">24</div>
                    </td>
                    <td class="code">
                        <div class="container">
                            <div class="line number1 index0 alt2"><code class="php plain">Array</code></div>
                            <div class="line number2 index1 alt1"><code class="php plain">(</code></div>
                            <div class="line number3 index2 alt2"><code class="php spaces">
                                &nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">[0] =&gt; Array</code></div>
                            <div class="line number4 index3 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">(</code></div>
                            <div class="line number5 index4 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[0] =&gt; Nobita</code></div>
                            <div class="line number6 index5 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[1] =&gt; nobitacnt@gmail.com</code></div>
                            <div class="line number7 index6 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[2] =&gt; 0123.456.789</code></div>
                            <div class="line number8 index7 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">)</code></div>
                            <div class="line number9 index8 alt2">&nbsp;</div>
                            <div class="line number10 index9 alt1"><code class="php spaces">
                                &nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">[1] =&gt; Array</code></div>
                            <div class="line number11 index10 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">(</code></div>
                            <div class="line number12 index11 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[0] =&gt; Xuka</code></div>
                            <div class="line number13 index12 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[1] =&gt; xuka@gmail.com</code></div>
                            <div class="line number14 index13 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[2] =&gt; 0222.333.444</code></div>
                            <div class="line number15 index14 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">)</code></div>
                            <div class="line number16 index15 alt1">&nbsp;</div>
                            <div class="line number17 index16 alt2"><code class="php spaces">
                                &nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">[2] =&gt; Array</code></div>
                            <div class="line number18 index17 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">(</code></div>
                            <div class="line number19 index18 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[0] =&gt; Chaien</code></div>
                            <div class="line number20 index19 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[1] =&gt; chaien@gmail.com</code></div>
                            <div class="line number21 index20 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">[2] =&gt; 0111.333.444</code></div>
                            <div class="line number22 index21 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code
                                    class="php plain">)</code></div>
                            <div class="line number23 index22 alt2">&nbsp;</div>
                            <div class="line number24 index23 alt1"><code class="php plain">)</code></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>