<div class="row">
	<div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Manage Page</h4>
                <!-- Nav tabs -->
                <div class="vtabs customvtab  col col-md-12">
                    <ul class="nav nav-tabs tabs-vertical" style="width: 220px;">
                    	<li>
                    		<button class="btn btn-info" (click)="createPage()"><i class="fa fa-plus"></i> Create Page</button>
                    	</li>
                        <li class="nav-item" *ngFor="let item of list_element"><a
                                [ngClass]="{'active': item.id == current_edit.id}" class="nav-link"
                                href="javascript:void(0)" (click)="editPage(item)"><span class="hidden-sm-up"><i
                                class="ti-home"></i></span> <span class="hidden-xs-down">{{ item.name }}</span> </a>
                        </li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="row">
                            <div class="card card-outline-info">
                                <div class="card-body" *ngIf="current_edit">
                                    <form action="#">
                                        <div class="form-body">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-4">Name</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control"
                                                           [(ngModel)]="current_edit.name" name="name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-4">Type</label>
                                                <div class="col-md-8">
                                                    <select class="form-control"
                                                            [(ngModel)]="current_edit.type" name="type">
                                                        <option value="HOME">HOME</option>
                                                        <option value="LAYOUT">LAYOUT</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-4">Description</label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" rows="3"
                                                              [(ngModel)]="current_edit.description"
                                                              name="description"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-4">Status</label>
                                                <div class="col-md-8">
                                                    <div class="switch">
                                                        <label>
                                                            <input type="checkbox" (change)="current_edit.status = current_edit.status == 1 ? 0 : 1" [checked]="current_edit.status"><span class="lever switch-col-purple"></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div [hidden]="new_page">
                                                <button (click)="savePage(current_edit)" type="submit"
                                                        class="btn btn-success"><i class="fa fa-check"></i> Save Page
                                                </button>
                                                <button (click)="deletePage(current_edit)"
                                                        class="btn btn-danger"> Delete Page
                                                </button>
                                            </div>
                                            <div [hidden]="!new_page">
                                                <button (click)="saveNewPage(current_edit)" type="submit"
                                                        class="btn btn-success"><i class="fa fa-check"></i> Create
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="current_edit">
                    <div class="card col col-md-12">
                        <h4 class="card-title">Block of page</h4>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs customtab">
                            <li class="nav-item" *ngFor="let item of current_edit.blocks"> 
                                <a class="nav-link" [ngClass]="{'active': item.id == current_block.id}" (click)="editBlock(item)">
                                    <span class="hidden-sm-up"><i class="ti-user"></i></span> 
                                    <span class="hidden-xs-down">{{ item.name }}</span>
                                </a> 
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" [ngClass]="{'active': new_block}" (click)="createBlock()">
                                <i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" *ngIf="current_block">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="card card-outline-info col col-md-8">
                                        <div class="card-body">
                                            <form action="#">
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Name</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control"
                                                                   [(ngModel)]="current_block.name" name="name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Type</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control"
                                                                    [(ngModel)]="current_block.type" name="type">
                                                                <option value="TOP">TOP</option>
                                                                <option value="CATEGORY">CATEGORY</option>
                                                                <option value="FEATURE">FEATURE</option>
                                                                <option value="MENU">MENU</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Link</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control"
                                                                   [(ngModel)]="current_block.link" name="link">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Content</label>
                                                        <div class="col-md-9">
                                                            <textarea class="form-control" rows="3"
                                                                  [(ngModel)]="current_block.content"
                                                                  name="content"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-3">Status</label>
                                                        <div class="col-md-9">
                                                            <div class="switch">
                                                                <label>
                                                                    <input type="checkbox" (change)="current_block.status = current_block.status == 1 ? 0 : 1" [checked]="current_block.status"><span class="lever switch-col-purple"></span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div [hidden]="new_block">
                                                        <button (click)="saveBlock(current_block)" type="submit"
                                                                class="btn btn-default"><i class="fa fa-save"></i>
                                                        </button>
                                                        <button (click)="deleteBlock(current_block)"
                                                                class="btn btn-default"> <i class="fa fa-remove"></i>
                                                        </button>
                                                    </div>
                                                    <div [hidden]="!new_block">
                                                        <button (click)="createNewBlock(current_block,current_edit.id)" type="submit"
                                                                class="btn btn-success"><i class="fa fa-check"></i> Create Block
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card col col-md-4" *ngIf="current_block">
                                        <div class="card-body">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="post_id">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info" type="button" (click)="addPost(post_id,current_block.id)">Go!</button>
                                                </span>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <h4>List Post</h4>
                                                <span *ngFor="let item of current_block.posts">
                                                    - {{ item.title }} <i class="fa fa-remove" (click)="removePost(item.id,current_block.id)"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>