.wrap-addtag {
    position: relative;
}

ul.result-search {
    border: 1px solid #dadada;
    width: 29.7%;
    position: absolute;
    top: 37px;
    z-index: 1;
    background: white;
    list-style: none;
    max-height: 150px;
    overflow: scroll;
    padding-left: 0;
    /* display: none; */
}

ul.result-search li {
    width: 100%;
    padding: 2px 10px;
    cursor: pointer;
}

ul.result-search li:hover {
    color: white;
    background: #eb6076;
}