<div class="row">
    <!-- column -->

    <div class="col-12" *ngIf="!edit">
        <div class="card">
            <div class="card-body">
                <a routerLink="/post/create" class="btn btn-primary pull-right">
                    CREATE POST
                </a>
                <h4 class="card-title">Post</h4>
                <h6 class="card-subtitle">List post of system</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th><input type="text" class="form-control" [(ngModel)]="filter.name" name="name"
                                       (blur)="filterPost()"></th>
                            <th></th>
                            <th></th>
                            <th>
                                <select class="form-control"
                                        [(ngModel)]="filter.category_id" name="category_id" (change)="filterPost()">
                                    <option value="0">All</option>
                                    <ng-container *ngFor="let item of all_category">
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    </ng-container>
                                </select>
                            </th>
                            <th>
                                <select class="form-control"
                                        [(ngModel)]="filter.status" name="status" (change)="filterPost()">
                                    <option value="all">All</option>
                                    <option value="enable">Enable</option>
                                    <option value="disable">Disable</option>
                                </select>
                            </th>
                            <th class="text-nowrap"></th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Website</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of list_element">
                            <td>{{ item.title }}</td>
                            <td>{{ item.id }}</td>
                            <td>
                                <a href="{{ item.base_on }}">{{ item.website }}</a>
                            </td>
                            <td>{{ item.category.name }}</td>
                            <td class="text-center">
                                <span *ngIf="item.status == 1" class="label label-success">Enable</span>
                                <span *ngIf="item.status == 0" class="label label-danger">Disable</span>
                            </td>
                            <td class="text-nowrap">
                                <a (click)="editElement(item)" href="javascript:void(0)"> <i
                                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a (click)="deletePost(item)" href="javascript:void(0)"> <i
                                        class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <nav style="margin-left: 30px;" aria-label="Page navigation" class="m-t-40">
                            <ul class="pagination">
                                <li *ngFor="let item of createRange(total_page); let i = index" class="page-item"
                                    [ngClass]="{'active': current_page == i + 1 }"><a class="page-link"
                                                                                      href="javascript:void(0)"
                                                                                      (click)="changePage(i + 1)">{{ i +
                                    1 }}</a></li>
                            </ul>
                        </nav>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="edit">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Post</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-body">
                                <form action="#" id="form_update" enctype='multipart/form-data'>
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">ID</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"
                                                       [(ngModel)]="current_edit.id" name="id">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"
                                                       [(ngModel)]="current_edit.title" name="title">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Slug</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"
                                                       [(ngModel)]="current_edit.slug" name="slug">
                                                <a href="{{ WEBSITE + '/single/' + current_edit.slug + '.html'}}" target="_blank">View in Website</a>
                                            </div>
                                            <div class="col-md-9">
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Thumbnail</label>
                                            <div class="col-md-9">
                                                <img *ngIf="!current_edit.other_thumbnail"
                                                     src="{{ current_edit.link_thumbnail }}">
                                                <span style="color: #ace">{{ current_edit.other_thumbnail }}</span>
                                                <br>
                                                <label style="margin-top: 15px;" for="input-file-now">Choise
                                                    other image</label>
                                                <input type="file" id="input-file-now" class="dropify"
                                                       style="visibility: hidden;"
                                                       name="other_thumbnail"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Description</label>
                                            <div class="col-md-9">
                                                        <textarea class="form-control" rows="3"
                                                                  [(ngModel)]="current_edit.description"
                                                                  name="description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div [froalaEditor]="options"
                                                     [(froalaModel)]="current_edit.content"></div>
                                            </div>
                                            <input type="hidden" name="content" [(ngModel)]="current_edit.content">
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Category</label>
                                            <div class="col-md-9">
                                                <select class="form-control"
                                                        [(ngModel)]="current_edit.category_id" name="category_id">
                                                    <ng-container *ngFor="let item of all_category">
                                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Tags</label>
                                            <div class="col-md-9">
                                                <ng-container *ngFor="let tag of current_edit.tags">
                                                    <span class="label label-light-danger">{{ tag.name }}</span>
                                                </ng-container>
                                                <div class="clearfix"></div>
                                                <div class="wrap-addtag">
                                                    <input style="width: 32%; margin-right: -30px;" class="form-control" type="text" name="keyword_tag" [ngModel]='keyword_tag' (ngModelChange)='changed($event)' />
                                                    <button type="button" class="btn btn-info btn-circle" aria-pressed="false">
                                                        <i class="ti-plus text" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="result-search" [hidden]="!show_box_search_tag">
                                                        <li *ngFor="let item_tag of result_search_tag ">{{ item_tag.name }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Author</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="current_edit.author" name="author">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Keyword SEO</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="current_edit.keyword_seo"
                                                       name="keyword_seo">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Website</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="current_edit.website" name="website">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Link Origin</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control form-control-line"
                                                       [(ngModel)]="current_edit.base_on" name="base_on">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Created At</label>
                                            <div class="col-md-9">
                                                <span>{{ current_edit.created_at }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Status</label>
                                            <div class="col-md-9">
                                                <div class="switch">
                                                    <label>
                                                        <input type="checkbox" (change)="current_edit.status = current_edit.status == 1 ? 0 : 1" [checked]="current_edit.status" name="status"><span class="lever switch-col-purple"></span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button (click)="savePost()" type="submit"
                                                class="btn btn-success"><i class="fa fa-check"></i> Save
                                        </button>
                                        <button (click)="cancelEdit()" type="button" class="btn btn-inverse">
                                            Cancel
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>