<form class="form-material m-t-40" id="category_form" enctype='multipart/form-data'>
    <div class="row">


        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Form Category</h4>
                    <h6 class="card-subtitle"><code>You must fill all field</code></h6>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="data.name" name="name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="3" [(ngModel)]="data.description"
                                  name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Parent Category</label>
                        <select class="form-control" [(ngModel)]="data.parent_id" name="parent_id">
                            <option value="0">None</option>
                            <ng-container *ngFor="let item of list_category">
                                <option *ngIf="item.parent_id == 0" value="{{ item.id }}">{{ item.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" class="form-control form-control-line" [(ngModel)]="data.website"
                               name="website">
                        <span class="help-block text-muted"><small>The website that category is copied</small></span>
                    </div>
                    <div class="form-group">
                        <label>Link category</label>
                        <input type="text" class="form-control form-control-line" [(ngModel)]="data.base_on"
                               name="base_on">
                        <span class="help-block text-muted"><small>Full link of category copy</small></span>
                    </div>
                    <div class="form-group">
                        <label>Key word seo</label>
                        <input type="text" class="form-control form-control-line" [(ngModel)]="data.keyword_seo"
                               name="keyword_seo">
                        <span class="help-block text-muted"><small>Keyword seo is separated by comma(,)</small></span>
                    </div>
                    <button type="submit" class="btn btn-info" (click)="create()">Submit</button>

                </div>

            </div>

        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Image thumbnail</h4>
                    <input type="file" id="input-file-now" class="dropify" name="thumbnail"/>
                </div>
            </div>
        </div>
    </div>
</form>