<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <b>
                        <!-- Dark Logo icon -->
                        <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo"/>
                        <!-- Light Logo icon -->
                        <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo"/>
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span>
                        <!-- dark Logo text -->
                        <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo"/>
                        <!-- Light Logo text -->    
                        <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage"/>
                    </span>
                </a>
            </div>

            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <li class="nav-item m-l-10">
                        <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                           href="javascript:void(0)"><i class="ti-menu"></i></a>
                    </li>

                </ul>

                <ul class="navbar-nav my-lg-0">
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="../assets/images/users/1.jpg" alt="user" class="profile-pic"/></a>
                        <div class="dropdown-menu dropdown-menu-right scale-up">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="assets/images/users/1.jpg" alt="user"></div>
                                        <div class="u-text">
                                            <h4>Huu Nam</h4>
                                            <p class="text-muted">namph.soict@gmail.com</p><a href="#"
                                                                                              class="btn btn-rounded btn-danger btn-sm">View
                                            Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <aside class="left-sidebar" *ngIf="currentUser">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile">
                <div class="profile-img"><img src="assets/images/users/profile.png" alt="user"/>
                    <div class="notify setpos"><span class="heartbit"></span> <span class="point"></span></div>
                </div>
            </div>

            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">MENU</li>
                    <li><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Category <span
                            class="label label-rouded label-themecolor pull-right">2</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a routerLink="/category">List Category </a></li>
                            <li><a routerLink="/category/create">Create Category</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Post <span
                            class="label label-rouded label-themecolor pull-right">2</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a routerLink="/post">List Post </a></li>
                            <li><a routerLink="/post/create">Create Post</a></li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/cms">Cms</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <!-- Page wrapper  -->
    <div class="page-wrapper">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>

        <!-- Container fluid  -->
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

        <footer class="footer"> © 2017 Admin Press Admin by themedesigner.in</footer>
    </div>
</div>