<div class="row">
    <!-- column -->

    <div class="col-12" *ngIf="!edit">
        <div class="card">
            <div class="card-body">
                <a routerLink="/category/create" class="btn btn-primary pull-right">
                    CREATE CATEGORY
                </a>
                <h4 class="card-title">Category</h4>
                <h6 class="card-subtitle">List category of system</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Website</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of list_element">
                            <td>{{ item.name }}</td>
                            <td>
                                <a href="{{ item.base_on }}">{{ item.website }}</a>
                            </td>
                            <td>{{ item.created_at }}</td>
                            <td class="text-center">
                                <span *ngIf="item.status == 1" class="label label-success">Enable</span>
                                <span *ngIf="item.status == 0" class="label label-danger">Disable</span>
                            </td>
                            <td class="text-nowrap">
                                <a (click)="editElement(item)" href="javascript:void(0)"> <i
                                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a (click)="deleteCategory(item)" href="javascript:void(0)"> <i
                                        class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <nav style="margin-left: 30px;" aria-label="Page navigation" class="m-t-40">
                                <ul class="pagination">
                                    <li *ngFor="let item of createRange(total_page); let i = index" class="page-item" [ngClass]="{'active': current_page == i + 1 }"><a class="page-link" href="javascript:void(0)" (click)="changePage(i + 1)">{{ i + 1 }}</a></li>
                                </ul>
                            </nav>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="edit">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Category</h4>
                <!-- Nav tabs -->
                <div class="vtabs customvtab">
                    <ul class="nav nav-tabs tabs-vertical" style="width: 220px;">
                        <li class="nav-item" *ngFor="let item of list_element"><a
                                [ngClass]="{'active': item.id == current_edit.id}" class="nav-link"
                                href="javascript:void(0)" (click)="editElement(item)"><span class="hidden-sm-up"><i
                                class="ti-home"></i></span> <span class="hidden-xs-down">{{ item.name }}</span> </a>
                        </li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-outline-info">
                                    <div class="card-body">
                                        <form action="#" id="form_update" enctype='multipart/form-data'>
                                            <div class="form-body">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               [(ngModel)]="current_edit.id" name="id">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Name</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               [(ngModel)]="current_edit.name" name="name">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Slug</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               [(ngModel)]="current_edit.slug" name="slug">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Thumbnail</label>
                                                    <div class="col-md-9">
                                                        <img *ngIf="!current_edit.other_thumbnail"
                                                             src="{{ current_edit.link_thumbnail }}">
                                                        <span style="color: #ace">{{ current_edit.other_thumbnail }}</span>
                                                        <br>
                                                        <label style="margin-top: 15px;" for="input-file-now">Choise
                                                            other image</label>
                                                        <input type="file" id="input-file-now" class="dropify"
                                                                [(ngModel)]="current_edit.other_thumbnail"
                                                               style="visibility: hidden;"
                                                               name="other_thumbnail"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Description</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" rows="3"
                                                                  [(ngModel)]="current_edit.description"
                                                                  name="description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Parent</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control"
                                                                [(ngModel)]="current_edit.parent_id" name="parent_id">
                                                            <option value="0">None</option>
                                                            <ng-container *ngFor="let item of list_element">
                                                                <option *ngIf="item.parent_id == 0 && item.id != current_edit.id" value="{{ item.id }}">{{ item.name }}</option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Website</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control form-control-line"
                                                               [(ngModel)]="current_edit.website" name="website">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Link Origin</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control form-control-line"
                                                               [(ngModel)]="current_edit.base_on" name="base_on">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Keyword SEO</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control form-control-line"
                                                               [(ngModel)]="current_edit.keyword_seo"
                                                               name="keyword_seo">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Status</label>
                                                    <div class="col-md-9">
                                                        <div class="switch">
                                                            <label>
                                                                <input type="checkbox" (change)="current_edit.status = current_edit.status == 1 ? 0 : 1" [checked]="current_edit.status" name="status"><span class="lever switch-col-purple"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button (click)="saveCategory()" type="submit"
                                                        class="btn btn-success"><i class="fa fa-check"></i> Save
                                                </button>
                                                <button (click)="cancelEdit()" type="button" class="btn btn-inverse">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>